
<div class="search-container">


  <div class="row small-9 medium-11 columns">
    <!-- <div id="zip_callout"> -->
      <h5>
        Search by zip code:
      </h5>
      <form action="/coffee_shops/by_zip" method="get">
        <label for="zip_code">Zip code</label>
        <input type="text" name="zip_code" value="<%= @zip_code %>">
        <input class="search-button" type="submit" name="submit" value="Search">
      </form>
    </div>

  <div class="row small-9 medium-11 columns">
    <!-- <div class="secondary callout"> -->
      <h5>
        Search by address:
      </h5>
      <form action="/coffee_shops/by_address" method="get">
        <label for="street">Street Address</label>
        <input  type="text" name="street" value="<%= @street %>">

        <label for="town">Town/City</label>
        <input type="text" name="town" value="<%= @town %>">

        <label for="state">State</label>
        <input type="text" name="state" value="<%= @state %>">
        <input class="search-button" type="submit" name="submit" value="Search">
      </form>
    </div>
  </div>
