<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" name="viewport", content="width=device-width, initial-scale=1.0">
    <title>Coffee Findah</title>
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="/stylesheets/coffee_shop.css">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <link href='https://fonts.googleapis.com/css?family=Special+Elite|Monda|Source+Code+Pro' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="small-12 columns sticky-top" data-sticky-container>
      <div class="small-12 columns sticky-top" data-sticky data-sticky-on="small" data-margin-top="0">
        <div class="small-12 columns top-bar" >
          <div class="small-12 columns top-bar-text">
            <a href="/coffee_shops" id="title-link"><h1 class="bar-text">COFFEE FINDAH</h1></a>
            <div class="lower-border">
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/custom.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="js/foundation/foundation.topbar.js"></script>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
