<h2>Coffee Shops near <%= @zip_code %></h2>
<ul>
  <% @results_zip.data['results'].each do |shop| %>
  <li>
    <a href="/<%= shop['place_id']%>"><%= shop['name'] %></a>: <%= shop['vicinity'] %>
  </li>
  <% end %>
</ul>
