html {
  background: url("../images/coffee-beans.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
}

div.top-bar {
  background: none;
  padding: 0;
  background-color: #f9f2ec;
}

.top-bar-text {
  background: none;
  color: #331a00;
  position: relative;
  width: 440px;
}

#title-link {
  color: #331a00;
}

.coffee-icon {
  position: absolute;
  right: 0px;
  top: -5px;
  font-size: 45px;
}

.bar-text {
  font-size: 45px;
  font-family: monospace;
  font-weight: bold;
  padding-left: 20px;
}

.search-container {
  padding-top: 200px;
}

#zip-header {
  padding: 0;
  color: #331a00;
}


#zip-list {
    position: relative;
}

#address-search-relative {
  position: relative;
}

#zip-input {

  margin: 0;
}
#magnifying-zip {
  position: absolute;
  right: 0;
  top: -5px;
  padding-right: 25px;
  font-size: 30px;
  color: #331a00;
}

#magnifying-address {
  position: absolute;
  right: 0;
  top: -5px;
  padding-right: 10px;
  font-size: 30px;
  color: #331a00;
  src: url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
}

#zip-search {
  padding: 0;
  background-color: #f9f2ec;
}

#zip-header {
  padding-left: 10px;
  padding-top: 10px;
}

#address-header {
  padding-left: 10px;
  padding-top: 10px;
}

.address-search {
  position: relative;
  padding: 0;
  background-color: #f9f2ec;
  color: #331a00;
}

.search-list {
  list-style: none;
}

.results_container {
  padding-top: 150px;
}

.results-text {
  text-align: center;
  background-color: #f9f2ec;
  color: #331a00;
}

.show-container {
  padding-top: 150px;
}

.show-text {
  text-align: center;
  background-color: #f9f2ec;
  color: #331a00;
}

li {
  list-style: none;
}

.show-list-inline {
  display: inline-block;
}
