

.results-text {
  background-color: none;
  color: #29a3a3;
}

.results-table {
  background-color: none;
  margin-top: 5px;
}

.sticky-inner {
  padding: 0;
}

.all-results-container {
  padding: 0;
}

.callout.results-text {
  background-color: none;
}

table tr.inline-list:nth-of-type(even) {
background-color: #ebfafa;
}

.name-link {
  color: #196767;
  font-family: 'Monda', sans-serif;
  font-weight: bold;
}

.name-link:hover {
  color:  #47d1d1;
}

.zip-result-header {
  font-family: 'Monda', sans-serif;
  color: #ffdab3;
  text-shadow: 0.5px 0.5px black;
  background-color: #29a3a3;
  /*border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;*/
  width: 100%;
  /*height: 50px;*/
  margin-bottom: 20px;
  text-align: center;
}

p.second-bar-header {
  margin-bottom: .125em;
  font-size: 1.2em;
}

.search-more {
  border-radius: 2em;
  background-color: #29a3a3;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .1);
  transition: box-shadow .5s,border-color .25s ease-in-out;
  -webkit-appearance: none;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Special Elite', cursive;
  color: white;
}

.search-more:hover {
  background-color: #47d1d1;
}

#show-result-address {

  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  height: 100%;
  font-size: 0.8em;
  color: #29a3a3;
  text-shadow: none;
  background-color: white;
  border-top: solid 5px;
  border-bottom: solid 5px;
  border-width: 100%;
  border-color: #ffdab3;
  margin-bottom: 20px;
  padding: 10px;
}

.inline-p {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
}

#show-result-table {
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: solid;
  border-width: 100%;
  border-color: #ffdab3;
  font-size: 0.75em;
  color: #29a3a3;
  text-shadow: none;
  background-color: white;
  margin-bottom: 0;
}

#back-coffee {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

  background-color: #ffc180;
  padding-right: 0;
  padding-bottom: .3em;
}

#back-coffee:hover {
  background-color: #ffdab3;
}

#more-coffee {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 0;
  padding-bottom: .3em;

}

#no-padding-right-button {
  padding-right: 0;
}

#no-padding-left-button {
  padding-left: 0;
}

.sticky-top {
  padding: 0;
}

.sticky-relative {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 2px;
}
